*{
    margin: 0;
    padding: 0;
    border:0;
    outline: none;
    box-sizing: border-box;
}

body{
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content:center ;
    background:rgb(197, 88, 26) ;
}

.container {
    position:relative;
    width: 400px;
    height: 100px;
    padding: 30px 50px;
    background: rgb(238, 236, 236);
    overflow: hidden;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    transition: 0.6s ease-out;
}

.search-box{
    width:100%;
    height: min-content;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.search-box input{
    color: rgb(209, 115, 56);
    height: 40px;
    width:min-content;
    background-color: rgb(186, 176, 162); 
    border-radius: 20px;
    font-size: 15px;
    font-weight:bold ;
    text-transform: uppercase;
    padding-left: 20px;
      
}
.search-box input::placeholder{
    font-size: 15px;
    font-weight:bold;
    text-transform: capitalize;
    padding-left: 20px;
    /* color: ; */
}

.search-box button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: rgb(158, 51, 51);
    background:rgb(173, 179, 136) ;
    border-radius: 50%;
    font-size: 1rem;
    transition:0.4s ease ;
}

.search-box button:hover{
    color: rgb(173, 179, 136);
    background: rgb(158, 51, 51);
}

.search-box i{
    position: relative;
    color: rgb(34, 27, 27);
    font-size: 30px;
}

.weather-box{
    text-align: center;
    
}

.weather-box img{  
    width: 60%;
    margin-top: 50px;
}

.weather-box .temperature{
    position:relative;
    color: rgb(13, 21, 28);
    font-size: 4rem;
    font-weight: 500;
    margin-top: 30px;
    margin-left: -70px;
}

.weather-box .temperature span{
    position: absolute;
    margin-left: 4px;
    font-size: 4rem;
}

.weather-box .description{
    color:rgb(13, 21, 28) ;
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}

.weather-details .humidity , .weather-details .wind{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;   
}

.weather-details .humidity{
    padding-left: 20px;
    justify-content:flex-start ;
}

.weather-details .wind{
    padding-right: 20px ;
    justify-content: flex-end;
}

.weather-details i{
    color: rgb(12, 120, 84);
    font-size: 1.5rem;
    margin-right: 10px;
    margin-top: 10px;

}

.weather-details span{
    color: rgb(49, 40, 40);
    font-size: 1rem;
    font-weight: 500;
    margin-left: 5px;

}

.weather-details p{
    color: rgb(55, 42, 42);
    font-size: 1rem;
    font-weight: 500;
    margin-left: 5px;
    margin-top: 10px;
}

.not-found{
    width: 100%;
    text-align: center;
    margin-top: 50px;    
    scale: 0;
    opacity:0;
    display:none;
}

.not-found img{
    width: 70%;
}

.not-found p{
    color: white;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;
}

.weather-box, .weather-details{
    scale: 0;
    opacity: 0;
}

.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay:0.5s;
}

@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
} 
/* .not-found .dimensions{
    width:40vw;
    height:50vh;

}